@model List<Apps.Web.Models.CompanyModel>

@{ 
    bool IsDelete = false;
    try
    {
        IsDelete = Convert.ToBoolean(ViewBag.IsDelete);
    }
    catch{}
}

@if (Model != null && Model.Count > 0)
{
    <table class="col-md-4">
        <tr>
            <th>
                @Html.Label("Detalle de Compañias")
            </th>
        </tr>        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="col-md-10">
                        @{
                            var id = string.Format("CodeCompany-{0}", item.CodeCompany);
                        }
                        @if (IsDelete)
                        {
                            @Html.DisplayFor(modelItem => item.CheckBox);
                        }
                        else
                        {
                            <input class="check-box" id="@id" name="company" type="checkbox" checked="@item.CheckBox">
                        }                        
                        @Html.DisplayFor(modelItem => item.ShortName)
                    </div>
                </td>
            </tr>
            }
    </table>
}

