@model Apps.Web.Models.UserModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2>Eliminar Usuario</h2>

    <h3>¿Desea eliminar el usuario '@Model.CodeUser' ?</h3>
    <div class="row clearfix">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CodeUser)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CodeUser)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StateActive)
            </dd>

        </dl>
        <br />
        <div class="row clearfix">
            @{
                Html.RenderPartial("_Companies", Model.CompaniesModel);
            }
        </div>
            <input type="hidden" id="CompaniesSplit" name="CompaniesSplit" />
            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row clearfix">
                    <input type="submit" value="Eliminar" class="btn btn-primary" onclick="return usermodule.confirm_delete();" /> |
                    @Html.ActionLink("Listado", "Index")
                </div>
            }
        </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                usermodule.ini({
                    codeuser: '@Model.CodeUser',
                });
            });
        });
    </script>
    <script type="text/javascript" src="~/Scripts/User/UserModule.js"></script>
    }
