@model Apps.Web.Models.UserModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Usuario</h2>

<h3>¿Desea eliminar el Usuario '@Model.CodeUser' ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodeUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateActive)
        </dd>

    </dl>

    <div>
        @{
            Html.RenderAction("GetCompanies", "User", new { userCode = Model.CodeUser });
        }
    </div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" onclick="return confirmar('@Model.CodeUser');"/> |
            @Html.ActionLink("Listado", "Index")
        </div>
    }   
</div>
<script type="text/javascript">
    function confirmar(usercode) {
        var respuesta = confirm("¿Desea eliminar el usuario '" + usercode + "'?");
        return respuesta;
    }
</script>
